# INSTRUCTIONS FOR NEW USERS:
# 1. Rename this file from '.env.example' to '.env'
# ClipSync Secure Configuration

# Generate a strong 64-character hex string for the SECRET_KEY
# You can generate one via python: `import secrets; print(secrets.token_hex(32))`
SECRET_KEY=replace_this_with_your_generated_hex_string_here

# The static port to bind the WebSocket Server (Default: 52300)
PORT=52300

# Whether to sync sensitive data like Credit Cards and Private Keys (true/false)
SYNC_SENSITIVE_DATA=false
